* {
    border: 1px solid blueviolet;
}

.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.intro-container {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: "Hero", "Times New Roman";
    font-size: 24px;
    flex-flow: column wrap;
    align-items: flex-start;
}

.intro-container.text {
    display: flex;
}

.intro-container #chapter {
    font-size: 48px;
    font-style: bold;
}

.intro-container #intro-image {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: flex-end;
}